{% extends "ATW/base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<div class="well  col-sm-4 p-3 my-3" style=" margin-left: auto; margin-right: auto;">
    <p style="color:white; font-size:50px;text-align: center;margin-top: 145px; margin-bottom: 100px">POWERHOUSE</p>
    <form action=Question-{{ mytext }} style="text-align: center;">
        <button type="submit" style="margin-left: auto; margin-right: auto;" class="btn btn-primary btn-lg align-self-center" onclick="" >Start Quiz</button>
    </form>

</div>

{% endblock body %}