{% extends "ATW/base.html" %}

{% block title %}
    Questions
{% endblock title %}

{% block body %}

    <h1>Inside Form</h1>
    <form action="" class="form-group">
        <p>Please select your gender:</p>
          <input type="radio" name="gender" value="male"> Male<br>
          <input type="radio" name="gender" value="female"> Female<br>
          <input type="radio" name="gender" value="other"> Other<br>  
        
        <p>Please select your age:</p>
          <input type="radio" name="age" value="30"> 0 - 30<br>
          <input type="radio" name="age" value="60"> 31 - 60<br>
          <input type="radio" name="age" value="100"> 61 - 100<br>  
        
          <input type="submit" value="Submit">
        </form>

    
{% endblock body %}