{% extends "ATW/base.html" %}
{% block title %}
    Success
{% endblock title %}

{% block meta %}
    <meta http-equiv="refresh" content="5;url=http://127.0.0.1:8000/Home" />
{% endblock meta %}

{% block body %}
<div class="well p-3 col-sm-4 " style="opacity: 1; margin-left: auto; margin-right: auto;align-items: center;">
    <h2 style="color: white; font-size:35px;text-align: center;margin-top: 30px; margin-bottom: 100px"><strong>Success</strong></h2>
<!-- faltu ka msg -->
<h2 style="color: white;font-size:35px;text-align: center;margin-top: 30px; margin-bottom: 100px"><strong>You have Successfully Completed The Bonus Round</strong> </h2>
<h2 style="color: white;font-size:35px;text-align: center;margin-top: 30px; margin-bottom: 100px"><strong>You can come again later.....</strong></h2>
</div>
{% endblock body %}