{% extends "ATW/base.html" %}

{% block title %}
Timeout
{% endblock title %}


{% block meta %}
<meta http-equiv="refresh" content="5;url=http://127.0.0.1:8000/Home" />
{% endblock meta %}


{% block body %}
<div class=" well p-3 col-sm-4" style="opacity: 1; margin-left: auto; margin-right: auto;align-items: center;">
    <p style="color: yellow;font-size:50px;text-align: center;margin-top: 50px; margin-bottom: 100px"><strong>You ran out of time !!!!</strong></p>
<p style="color: yellow;font-size:50px;text-align: center;margin-top: 30px; margin-bottom: 100px"><strong>You can come again later....</strong></p>
</div>

{% endblock body %}
