{% extends "ATW/base.html" %}
{% block title %}
Wrong ans
{% endblock title %}

{% block meta %}
<meta http-equiv="refresh" content="5;url=http://127.0.0.1:8000/Home" />
{% endblock meta %}

{% block body %}
<div class="well card col-sm-4 p-3 my-3" style="opacity: 1; margin-left: auto; margin-right: auto;align-items: center;">
    <h2 style="color: red;"><strong>Oops!!!!!</strong></h2>
    <h2 style="color: red;"><strong>Better Luck Next time.</strong></h2>
    <h2 style="color: red;"><strong>You can come again later....</strong></h2>

</div>
{% endblock body %}