{% extends "ATW/base.html" %}
{% block title %}
Wrong ans
{% endblock title %}

{% block meta %}
<meta http-equiv="refresh" content="5;url=http://127.0.0.1:8000/Home" />
{% endblock meta %}

{% block body %}
<div class="well col-sm-4 p-3 my-3" style="opacity: 1; margin-left: auto; margin-right: auto;align-items: center;">
    <p style="color: white; font-size:50px;text-align: center;margin-top: 30px; margin-bottom: 100px"><strong>Oops!!!!!</strong></p>
    <p style="color: white; font-size:50px;text-align: center;margin-top: 30px; margin-bottom: 25px"><strong>Better Luck Next time.</strong></p>
    <p style="color: white; font-size:50px;text-align: center;margin-top: 30px; margin-bottom: 25px"><strong>You can come again later....</strong></p>

</div>
{% endblock body %}